body {
    background-color: rgb(170, 208, 241);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#body-id {
    /* text-align: center; */
    background-color:bisque;
    padding:3%;
    margin:5%;
    width: auto;
}

#center-container {
    text-align: center;
}

#login-info {
    text-align: center;
    background-color:rebeccapurple;
    padding:3%;
    display: inline-block;
}

#inp-name, #inp-roll, #submit-btn {
    padding:10px;
    margin:5px;
}

a:link, a:visited, a:hover, a:link {
    text-decoration: none;
    color: black;
}

p.last-ten-secs {
    background-color: firebrick;
    margin-left: auto;
    margin-right: auto;
    color: floralwhite;
}

